* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 100%;
    text-align: center;
    background-color: #FAD02C;
    margin-top: 20vh;
    transition: 100ms;
}

.photos {
    cursor: pointer;
    box-shadow: 2px 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 6px 12px;
    transition: 100ms;
}

.photos:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px;
}

@media screen and (max-width: 425px) {
    body {
        font-size: 85%;
    }
}

@media screen and (max-width: 375px) {
    body {
        font-size: 75%;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 75%;
    }
}

@keyframes beating {
    0% {
        font-size: 100%;
    }
    100% {
        font-size: 110%;
    }
}